<nav class='flex z-20 fixed w-full shadow-xl items-center justify-between flex p-3 bg-nav-black'>
  <div class='w-auto items-center dlex-no-shrink'>
    <a [routerLink]="['/posts']" class='sm:pl-6 no-underline text-white text-xl hover:text-purple'>c0re</a>
  </div>
  <div class='w-full flex items-center'>
    <div *ngIf='api.is_login' class='pt-1 pl-2 flex w-auto'>
      <a routerLink='/upload/' class='hidden sm:block float-left no-underline text-white hover:text-purple'>Upload</a>
      <a routerLink='/upload/' class='block text-lg sm:hidden'>
        <fa name='cloud-upload' class='text-white'></fa>
      </a>
      <label class='ml-2 safty-container'>
        <input [(ngModel)]='filters.safe' (click)='filter("safe")' class='safty' type="checkbox" value='safe'>
        <span class='hover:bg-green border-2 border-green safty-checkmark safe'></span>
      </label>
      <label class='safty-container'>
        <input [(ngModel)]='filters.sketchy' (click)='filter("sketchy")' class='safty' type="checkbox" value='sketchy'>
        <span class='hover:bg-yellow border-2 border-yellow safty-checkmark sketchy'></span>
      </label>
      <label class='safty-container'>
        <input [(ngModel)]='filters.unsafe' (click)='filter("unsafe")' class='safty' type="checkbox" value='unsafe'>
        <span class='hover:bg-orange border-2 border-orange safty-checkmark unsafe'></span>
      </label>
    </div>
    <div [ngClass]='{"ml-2": !api.is_login}' class='sm:mr-6 w-full'>
      <div class='w-auto flex float-right'>
        <div class='ml-auto mr-auto relative w-2/3 sm:w-auto float-left'>
          <div class='border-b flex border-b-2 border-purple'>
            <fa class='text-white pt-1' name='search'></fa>
            <input [(ngModel)]='api.search_query' (keyup)='search($event)' name='search' type="text" class='w-full appearance-none bg-transparent text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none'>
          </div>
          <div class='w-full truncate drop-down shadow-md'>
            <div *ngFor='let tag of sug_search' (click)='tag_search(tag.names)' #{{tag.names}} class='m-2 text-white hover:text-purple cursor-pointer'>
              {{tag.names}}
            </div>
            <div *ngIf='sug_search.length != 0' class='border-b border-purple'></div>
          </div>
        </div>
        <a *ngIf='api.is_login' routerLink='/user/{{api.user.username}}' class='mr-2 ml-2 no-underline text-white hover:text-purple'>
          <img class='-mb-2 h-8 rounded-full' src='{{avatar}}'>
        </a>
        <button *ngIf='api.is_login === false' (click)='openModal("login_modal")' class='inline-block text-sm ml-2 mr-2 px-2 sm:px-4 py-1 sm:py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white'>
          Login
        </button>
        <button *ngIf='api.is_login === false' (click)='openModal("register_modal")' class='inline-block text-sm px-2 sm:px-4 py-1 sm:py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white'>
          Register
        </button>
        <div *ngIf='api.is_login === true' (click)='open_drop_down($event)' class='px-3 -mr-3 -mb-1 px-1 hover:bg-grey-100 hover:text-purple rounded-full text-white float-right'>
          <fa class='text-3xl' name='ellipsis-v'></fa>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--Overlay-->
<div *ngIf='drop_down' class='z-20 absolute pin'>
  <div [style.right.px]='drop_down_pos.y' [style.top.px]='drop_down_pos.bottom' class="z-30 bg-grey shadow-md rounded fixed">
    <div class="text-white text-center mt-2 mb-2">
      <div (click)='settings()' class='cursor-pointer px-4 py-2 hover:text-purple hover:bg-grey-100'>
        <div>
          Settings
        </div>
      </div>
      <div (click)='api.logout(); drop_down = false' class='cursor-pointer px-4 py-2 hover:text-purple hover:bg-grey-100'>
        <div>
          Logout
        </div>
      </div>
    </div>
  </div>
  <div (click)='drop_down = false' class='fixed pin'></div>
</div>

<router-outlet></router-outlet>

<!--Login Modal-->
<modal id='login_modal'>
  <div class='modal'>
    <div class='modal-body max-w-md shadow-md'>
      <div class="w-full max-w-xs">
        <form class="px-8 pt-6 pb-8">
          <div *ngIf='err_msg' class='text-sm px-4 py-2 bg-red w-full text-white mb-4 rounded text-center'>
            {{msg}}
          </div>
          <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input [(ngModel)]='username' name='username' class="appearance-none bg-transparent border-b border-b-2 border-purple w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" id="username" type="text" placeholder="Username">
          </div>
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input [(ngModel)]='password' (keypress)='login($event)' name='password' class="appearance-none bg-transparent border-b border-b-2 border-purple w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" id="password" type="password" placeholder="******************">
          </div>
          <div class="flex items-center justify-between">
            <button (click)='login()' class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-4 lg:mt-0" type="button">
              Login
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker">
              Forgot Password?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>

<!--Register Modal-->
<modal id='register_modal'>
  <div class='modal'>
    <div class='modal-body max-w-md shadow-md'>
      <div class="w-full max-w-xs">
        <form class="px-8 pt-6 pb-8">
          <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input class="appearance-none bg-transparent border-b border-b-2 border-purple w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" id="username" type="text" placeholder="Username">
          </div>
          <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
              E-Mail
            </label>
            <input class="appearance-none bg-transparent border-b border-b-2 border-purple w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" id="email" type="email" placeholder="admin@c0re.space">
          </div>
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input class="appearance-none bg-transparent border-b border-b-2 border-purple w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" id="password" type="password" placeholder="******************">
          </div>
          <div class="flex items-center justify-between">
            <button class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-4 lg:mt-0" type="button">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>