<div
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="100"
(scrolled)="onScroll()" class='container pt-16 mx-auto pt-2'>
  <ng-template *ngIf='items.length != 0; else nothing_here' ngFor let-row [ngForOf]='rows' let-i='index'>
    <div class='flex'>
      <div class='h-auto sm:w-1/4 md:w-1/6 lg:w-1/8 xl:w-1/10 pr-1' *ngFor='let item of row_split(row)'>
        <div *ngIf='item.id === null; else posts'>
          <img width='300' height='300' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
        </div>
        <ng-template #posts>
          <div *ngIf='item.id === open_id; else not_open'>
            <a (click)='save_post(false)' [routerLink]="['../', '']">
              <img width='300' height='300' [ngClass]="{'border-red border-4': item.tagCount === 0 && option.red_box}" src='/{{ item.thumbnailUrl }}_new'>
            </a>
            <div class='flex'>
              <fa name='caret-down' class='post-arr-down text-3xl ml-auto mr-auto ml-auto text-purple'></fa>
            </div>
          </div>
          <ng-template #not_open>
            <a (click)='save_post(false)' routerLink='../{{item.id}}'>
              <img width='300' height='300' [ngClass]="{'border-red border-4': item.tagCount === 0 && option.red_box}" src='/{{ item.thumbnailUrl }}_new'>
            </a>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <div class='flex pb-10 bg-post scale-up-ver-top' *ngIf='open_row(row)'>
      <div class='container mr-auto ml-auto'>
        <div [ngClass]='{"border-b": !api.is_login}' class='flex shadow-lg flex-wrap border-t border-t-2 border-purple'>
          <div class='w-auto mr-auto ml-auto relative'>
            <div *ngIf='post_edit && (api.user.admin === true || api.user.mod === true)' class='absolute z-10 pin-t pin-r pr-1'>
              <fa (click)='del_img = !del_img' name='times' [ngClass]="{'text-red': del_img, 'text-white': !del_img}" class='text-3xl bg-smoke-light hover:text-red'></fa>
            </div>
            <div *ngIf='post_edit' [ngClass]="{'pin bg-smoke-light': del_img}" class='absolute'></div>
            <div *ngIf='open_item.type === "image" || open_item.type === "animation"; else vid'>
              <img (click)='close_post()' [style.max-height.px]='option.auto_height ? max_height: null' src='/{{ open_item.contentUrl }}'>
            </div>
            <ng-template #vid>
              <div>
                <video [attr.loop]='option.loop ? "": null' [attr.autoplay]='option.autoplay ? "": null' class='w-full' src='/{{ open_item.contentUrl }}' controls></video>
              </div>
            </ng-template>
          </div>
          <div *ngIf='api.is_login' class='flex flex-wrap w-full border-b border-b-2 border-purple pb-4 pt-2 pl-4 pr-4 text-white'>
            <div class='flex w-full'>
              <div class='w-auto text-white text-base sm:text-lg lg:text-2xl'>
                <div class='flex'>
                  <fa (click)='add_score(+1)' [ngClass]="{'text-purple': open_data.ownScore === 1}" class='hover:text-purple' name='chevron-up'></fa>
                </div>
                <div class='flex'>
                  <fa (click)='add_score(-1)' [ngClass]="{'text-purple': open_data.ownScore === -1}" class='hover:text-purple' name='chevron-down'></fa>
                </div>
              </div>
              <div class='text-3xl sm:text-4xl lg:text-5xl mt-1 sm:mt-0 lg:min-w-score ml-2 text-center float-left'>
                {{ open_data.score }}
              </div>
              <div class='text-xl mt-1 sm:text-3xl sm:mt-0 lg:text-5xl ml-2 float-left pt-1'>
                <fa (click)='fav()' [ngClass]="{'text-purple': open_data.ownFavorite}" class='hover:text-purple' name='heart'></fa>
              </div>
              <div class='text-3xl sm:text-4xl lg:text-5xl mt-1 sm:mt-0 pl-2 ml-2r'>
                {{ open_data.favoriteCount }}
              </div>
              <div class='w-full pl-1 sm:pl-3'>
                <div class='flex-wrap sm:flex text-xs md:text-base'>
                  <div class='tag ml-1 pb-1'>
                    <img src='{{ open_data.user.avatarUrl }}'>
                    <a class='no-underline text-xs md:text-base text-white hover:text-purple' routerLink='/user/{{open_data.user.name}}'>{{ open_data.user.name }}</a>
                  </div>
                  {{ calc_time(open_item.creationTime) }}
                  <div class='flex'>
                    <a class='no-underline text-white hover:text-purple mr-1 ml-4' href='https://iqdb.org/?url={{get_url(open_item.contentUrl)}}'>IQDB</a>|
                    <a class='no-underline text-white hover:text-purple ml-1' href='https://www.google.com/searchbyimage?&image_url={{get_url(open_item.contentUrl)}}'>Google</a>
                  </div>
                  <div *ngIf='post_edit && (api.user.admin === true || api.user.mod === true )' class='m-2 sm:m-0 sm:ml-2' >
                    <label class='radio-container'> Safe
                      <input [(ngModel)]='filter' class='safty' name='safty' type="radio" value='safe'>
                      <span class='hover:bg-purple checkmark'></span>
                    </label>
                    <label class='radio-container'> Sketchy
                      <input [(ngModel)]='filter' class='safty' name='safty' type="radio" value='sketchy'>
                      <span class='hover:bg-purple checkmark'></span>
                    </label>
                    <label class='radio-container'> Unsafe
                      <input [(ngModel)]='filter' class='safty' name='safty' type="radio" value='unsafe'>
                      <span class='hover:bg-purple checkmark'></span>
                    </label>
                  </div>
                </div>
                <div *ngIf='col !== 4'><ng-container *ngTemplateOutlet='tag_box'></ng-container></div>
              </div>
            </div>
            <div *ngIf='col === 4' class='flex w-full'><ng-container *ngTemplateOutlet='tag_box'></ng-container></div>
            <ng-template #tag_box>
              <div [ngClass]='{"flex-wrap w-full": col === 4}' class='flex'>
                <div class='w-full mt-1 pl-1 bg-tagbox'>
                  <div class='flex-wrap'>
                    <div *ngIf='open_data.safety !== "safe"' class='tag'>
                      {{open_data.safety}}
                    </div>
                    <div *ngFor='let tag of open_data.tags' class='tag'>
                      <a [routerLink]="['/posts', tag.names[0], '']" class='no-underline text-white hover:text-purple'>{{ tag.names }} </a>
                      <fa *ngIf='post_edit && (api.user.admin === true || api.user.username === tag.user.name || api.user.mod === true )' (click)='del_tag(tag.names)' class='cursor-pointer hover:text-purple' name="times"></fa>
                    </div>
                    <div *ngFor='let tag of new_tags' class='tag'>
                      {{ tag }} <fa *ngIf='post_edit' (click)='del_new_tag(tag)' class='cursor-pointer hover:text-purple' name="times"></fa>
                    </div>
                    <div *ngIf='post_edit' class='float-right tag-input relative'>
                      <input (keyup)='add_tag($event)' [(ngModel)]='new_tag' class="appearance-none bg-transparent border-b border-b-2 border-purple text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none">
                      <div class='w-full drop-down'>
                        <div *ngFor='let tag of sug_tag' (click)='add_sug_tag(tag.names)' class='m-2 text-white hover:text-purple cursor-pointer'>
                          {{tag.names}}
                        </div>
                        <div *ngIf='sug_tag.length != 0' class='border-b border-purple'></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf='!post_edit; else post_save' class='w-auto pl-1 sm:pl-4 mr-2'>
                  <button (click)='post_edit = true; filter = open_data.safety' class='inline-block text-xs md:text-sm px-2 md:px-4 py-1 md:py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-2 md:mt-0 lg:mt-0'>Edit</button>
                </div>
                <ng-template #post_save>
                  <div class='w-auto pl-1 sm:pl-4 mr-2'>
                    <button (click)='save_post(true)' class='inline-block text-xs md:text-sm px-2 md:px-4 py-1 md:py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-2 md:mt-0 lg:mt-0'>Save</button>
                  </div>
                  <div class='w-auto pl-1 mr-2'>
                    <button (click)='save_post(false)' class='inline-block text-xs md:text-sm px-2 md:px-4 py-1 md:py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-2 md:mt-0 lg:mt-0'>Cancel</button>
                  </div>
                </ng-template>
              </div>
            </ng-template>
          </div>
        </div>
        <div *ngIf='api.is_login' class='flex text-white pl-4 pr-4 mt-12'>
          <textarea [(ngModel)]='new_comment' placeholder="add comment" class='appearance-none bg-transparent border-b border-b-2 border-purple text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none' rows='2' cols='50'></textarea>
          <div class=''>
            <button (click)='add_comment()' class='inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-4 lg:mt-0'>Save</button>
          </div>
        </div>
        <div *ngIf='api.is_login' class='flex-wrap mt-6 pl-4 pr-4 text-white text-sm sm:text-base'>
          <div *ngFor='let comment of open_data.comments' class='w-full md:w-2/3 lg:w-1/2 mb-4'>
            <div class='flex-wrap break-words bg-input p-2'>
              <span [outerHTML]="comment.text | matchUrl"></span>
            </div>
            <div class='flex border-t border-t-2 pt-1 border-purple'>
              <fa (click)='add_score_comment(+1, comment.id)' [ngClass]="{'text-purple': comment.ownScore === 1}" class='ml-1 mr-1 text-sm hover:text-purple' name='chevron-up'></fa>
              {{ comment.score }}
              <fa (click)='add_score_comment(-1, comment.id)' [ngClass]="{'text-purple': comment.ownScore === -1}" class='ml-1 text-sm hover:text-purple' name='chevron-down'></fa>
              <div class='tag ml-1 pb-1'>
                <img src='{{ comment.user.avatarUrl }}'>
                <a class='no-underline text-sm sm:text-base text-white hover:text-purple' routerLink='/user/{{ comment.user.name }}'>{{ comment.user.name }}</a>
              </div>
              {{ calc_time(comment.creationTime) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #nothing_here>
    <div class='text-center text-white text-xl'>
      nothing here ¯\_(ツ)_/¯
    </div>
  </ng-template>
</div>