<div class='pt-16' *ngIf='api.is_login; else not_login'>
  <input (change)='file_Drop($event.target.files)' #file_input class='hidden' type='file' name='file'>
  <div class='container mx-auto pt-6'>
    <div class='flex'>
      <div class='w-full sm:w-2/3 md:w-1/2 mr-auto ml-auto align-middle text-center'>
        <div (click)='file_input.click()' class='dropzone pb-6'
        fileDrop
        (filesDropped)="file_Drop($event)"
        (filesHovered)="hover_file = $event"
        [ngClass]="{'dropzone-hover': hover_file}">
          <div class='text-white pt-12'>
            <div *ngIf='error' class='dropzone-error'>
              <div class='text-sm px-4 py-2 bg-red w-full text-white mb-4 rounded text-center'>
                {{ msg }}
              </div>
            </div>
            <div *ngIf='hover_file; else hover'>Drop</div>
            <ng-template #hover>
              <div>
                Drag and Drop or click on this box
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf='file_base64'>
      <div class='felx pt-6'>
        <div class='w-2/3 md:w-1/4 mr-auto ml-auto'>
          <div *ngIf='file_type === "image"; else video'>
            <img src='{{file_base64}}'>
          </div>
          <ng-template #video>
            <video class='w-full' src='{{file_base64}}'></video>
          </ng-template>
        </div>
      </div>
      <div class='felx text-white pt-6 pl-2 pr-2'>
        <div class='w-full md:w-1/2 flex flex-wrap lg:flex-no-wrap mr-auto ml-auto'>
          <div class='w-2/3 md:w-5/6 relative'>
            <input [(ngModel)]='tag' (keyup)='add_tag($event)' placeholder="Tags" name='tag' type="text" class='w-full appearance-none bg-transparent border-b border-b border-purple text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none'>
            <div class='w-full drop-down'>
              <div *ngFor='let tag of sug_tags' (click)='add_sug_tag(tag.names)' class='m-2 text-white hover:text-purple cursor-pointer'>
                {{tag.names}}
              </div>
              <div *ngIf='sug_tags.length != 0' class='border-b border-purple'></div>
            </div>
          </div>
          <div class='w-full'>
            <div class='float-right mt-2'>
              <label class='radio-container'> Safe
                <input [(ngModel)]='filter' class='safty' name='safty' type="radio" value='safe'>
                <span class='hover:bg-purple checkmark'></span>
              </label>
              <label class='radio-container'> Sketchy
                <input [(ngModel)]='filter' class='safty' name='safty' type="radio" value='sketchy'>
                <span class='hover:bg-purple checkmark'></span>
              </label>
              <label class='radio-container'> Unsafe
                <input [(ngModel)]='filter' class='safty' name='safty' type="radio" value='unsafe'>
                <span class='hover:bg-purple checkmark'></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class='flex pt-2'>
        <div class='w-full md:w-1/2 pl-1 mr-auto ml-auto bg-tagbox'>
          <div *ngIf='filter !== "safe"' class='float-left tag'>
            {{ filter }}
          </div>
          <div class='float-left tag' *ngFor='let tag of tags'>
            {{ tag }} <fa (click)='del_tag(tag)' class='cursor-pointer hover:text-purple' name="times"></fa>
          </div>
        </div>
      </div>
      <div *ngIf='upload_warning' class='flex mt-2'>
        <div class='w-1/2 mr-auto ml-auto flex flex-wrap'>
          <div *ngFor='let item of upload_msg.items' class='w-1/5 mr-1'>
            <a target="_blank" routerLink='/posts/{{item.id}}'><img src='{{item.thumbnailUrl}}_new'></a>
          </div>
        </div>
      </div>
      <div class='flex pl-1 pr-1 pt-2'>
        <div class='w-full md:w-1/2 mr-auto ml-auto'>
          <div *ngIf='upload_warning' class='text-sm px-4 py-2 bg-yellow w-full text-black mb-1 md:mb-4 rounded text-center'>
            {{ upload_msg.msg }}
          </div>
          <div *ngIf='upload_error' class='text-sm px-4 py-2 bg-red w-full text-white mb-1 md:mb-4 rounded text-center'>
            {{ upload_msg.msg }} <a class='no-underline text-white hover:text-purple' routerLink='/posts/{{upload_msg.id}}'>here</a>
          </div>
          <div *ngIf='is_upload' class='mb-2 w-full rounded-full h-1 bg-input'><div class='bg-purple loading-bar'></div></div>
          <button (click)='upload()' class='float-right inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-1 md:mt-4 lg:mt-0'>Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #not_login>
  <div class='pt-16 text-white text-xl text-center'>
    You have to login before you can upload
  </div>
</ng-template>