<div class='pt-16 text-white'>
  <div class='container mr-auto ml-auto'>
    <div class='flex'>
        <img class='h-16 sm:h-24' src='{{avatar}}'>
        <div class='w-full'>
          <div class='pl-2 text-2xl sm:text-5xl flex'>
            {{username}}
          </div>
          <div class='pl-2 text-lg sm:text-3xl flex'>
            {{rank}}
          </div>
          <div class="flex float-right">
            <button *ngIf="username !== api.user.username && (api.user.admin === true || api.user.mod === true)" (click)="toSettings('user_edit')" class='inline-block text-xs md:text-sm px-2 md:px-4 py-1 md:py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-2 md:mt-0 lg:mt-0'>Edit</button>
          </div>
        </div>
    </div>
    <div class='w-full flex mt-16'>
      <div class='w-auto pb-1 text-xl'>Uploads</div>
      <div *ngIf='posts' class='w-full'>
        <a class='pt-1 float-right text-white no-underline hover:text-purple' [routerLink]="['/posts', 'submit:' + username, '']">show all</a>
      </div>
    </div>
    <div [ngClass]='{"scale-up-ver-top": posts}' class='flex border-b user-list pl-1 border-t border-purple shadow-lg bg-grey flex-wrap'>
      <div class='w-full flex mt-1 flex-wrap' *ngIf='posts; else noting'>
        <div class='w-1/4 sm:w-1/4 md:w-1/6 lg:w-1/8 xl:w-1/10 pr-1' *ngFor="let post of posts">
          <a class='relative' [routerLink]="['/posts', 'submit:' + username, post.id]">
            <img src='{{post.thumbnailUrl}}_new'>
            <img class="absolute place-holder" height="300" width="300" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='>
          </a>
        </div>
      </div>
    </div>
    <div class='w-full flex mt-16'>
      <div class='w-auto pb-1 text-xl'>Favorites</div>
      <div *ngIf='favs' class="w-full">
        <a class='pt-1 float-right text-white no-underline hover:text-purple' [routerLink]="['/posts', 'fav:' + username, '']">show all</a>
      </div>
    </div>
    <div [ngClass]='{"scale-up-ver-top": posts}' class='flex border-b pl-1 border-t border-purple shadow-lg bg-grey user-list flex-wrap'>
      <div class='w-full flex flex-wrap' *ngIf='favs; else noting'>
        <div class='w-1/4 sm:w-1/4 md:w-1/6 lg:w-1/8 xl:w-1/10 pr-1 pt-1' *ngFor="let fav of favs">
          <a class='relative' [routerLink]="['/posts', 'fav:' + username, fav.id]">
            <img src='{{fav.thumbnailUrl}}_new'>
            <img class="absolute place-holder" height="300" width="300" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='>
          </a>
        </div>
      </div>
    </div>
    <div class='flex mt-16'>
      <div class='w-auto text-xl'>Comments</div>
      <div *ngIf='comments' class='w-full'>
        <a class='pt-1 float-right text-white no-underline hover:text-purple' [routerLink]="['./', 'comments']">show all</a>
      </div>
    </div>
    <div [ngClass]='{"scale-up-ver-top": posts}' class='flex border-b py-2 border-t border-purple shadow-lg bg-grey user-list flex-wrap'>
      <div class='w-full' *ngIf='comments && comments_thumb; else noting'>
        <div class='px-2' *ngFor="let comment of comments; let last = last">
          <div class='flex -mb-1'>
            <div class='w-auto'>
              <a [routerLink]="['/posts', comment.postId]">
                <img class='h-10' src='{{comments_thumb[comment.postId]}}_new'>
              </a>
            </div>
            <div class='-ml-10 pl-12 w-full break-words mt-auto mb-auto'>
              <span [outerHTML]="comment.text | matchUrl"></span>
            </div>
          </div>
          <div *ngIf='!last' class='my-2 w-5/6 mr-auto ml-auto border-b border-dark'></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noting>
  <div class='w-full mt-auto mb-auto text-center text-white text-xl'>
    nothing here ¯\_(ツ)_/¯
  </div>
</ng-template>