/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  /* colors */
  $black:     #2b2b2b;
  $black-900: #212121;
  $black-100: #353535;
  $white:     #f1f1f1;
  $purple:    #9561e2;
  $green:     #88d488;
  $yellow:    #f3d75f;
  $orange:    #f3985f;
  $smoke:     rgba(0, 0, 0, 0.5);

  .bg-black {
    background-color: $black
  }

  .bg-grey {
    background-color: $black-100
  }

  .bg-grey-100 {
    background-color: lighten($black-100, 5%)
  }

  .hover\:bg-grey-100:hover {
    background-color: lighten($black-100, 5%)
  }

  .bg-green {
    background-color: $green
  }

  .bg-yellow {
    background-color: $yellow
  }

  .bg-orange {
    background-color: $orange
  }

  .bg-smoke {
    background-color: rgba(0, 0, 0, 0.5)
  }

  .bg-smoke-light {
    background-color: rgba(0, 0, 0, 0.1)
  }

  .bg-nav-black {
    background-color: $black-100
  }

  .bg-modal-black {
    background-color: $black-100
  }

  .bg-input{
    background-color: $black-100
  }
  
  .bg-post {
    background-color: darken($black, 0.5%)
  }

  .border-dark {
    border-color: darken($black-100, 4%)
  }

  .border-green {
    border-color: $green
  }

  .border-yellow {
    border-color: $yellow
  }

  .border-orange {
    border-color: $orange
  }

  .text-white {
    color: $white
  }

  /*
  .text-purple {
    color: $purple;
  } 
  */

  .text-dark {
    color: $black-100;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: $black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6220c5
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: darken(#6220c5, 5%)
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* upload */
  .dropzone {
    height: 120px;
    background: $black-100;
    outline: 2px dashed white;
    outline-offset: -10px;
    cursor: pointer;
  }

  .dropzone-hover {
    outline: 2px solid $purple;
  }

  .dropzone-error {
    margin-top: -30px;
    margin-left: 17px;
    margin-right: 17px;
  }

  /* global */
  body {
    background-color: $black;
  }

  .tag {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 25px;
    background-color: $black-100;
    color: $white;
    margin-right: 4px;
    margin-bottom: 5px;
  }

  .tag img{
    float: left;
    margin: 0 4px 0 -10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .bg-tagbox {
    background-color: $black-900;
    padding-top: 5px;
    min-height: 30px;
    border-radius: 10px;
  }

  .tag-input {
    margin-top: -0.3rem;
  }

  /* radio */
  .radio-container {
    position: relative;
    padding-left: 25px;
    margin-right: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .radio-container:hover .checkmark{
    background-color: $purple;
  }

  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    margin-top: 2px;
    background-color: $black-100;
  }
  
  .radio-container input:checked ~ .checkmark {
    background-color: $purple;
  }
  
  /* safty */

  .safty-container {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .safty-container:hover .checkmark{
    background-color: $purple;
  }

  .safty-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .safty-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .safty-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    margin-top: -2px;
    background-color: $black;
  }
  
  .safty-container input:checked ~ .safe {
    background-color: $green;
  }

  .safty-container input:checked ~ .sketchy {
    background-color: $yellow
  }

  .safty-container input:checked ~ .unsafe {
    background-color: $orange
  }

  .safty-container input:checked ~ .option {
    background-color: $purple;
  }

  .score-vote {
    font-size: 35px;
    margin-top: -10px;
  }

  .min-w-score {
    min-width: 4.5rem;
  }

  .fav {
    font-size: 40px;
  }

  .post-arr-down {
    margin-top: -15px;
    margin-bottom: -10px
  }

  @keyframes test {
    0% {width: 0%}
    10% {width: 5%; margin-left: 0%}
    20% {width: 20%; margin-left: 5%}
    30% {width: 30%; margin-left: 11%}
    40% {width: 38%; margin-left: 19%}
    50% {width: 40%; margin-left: 30%}
    60% {width: 42%; margin-left: 40%}
    70% {width: 36%; margin-left: 55%}
    80% {width: 25%; margin-left: 75%}
    90% {width: 10%; margin-left: 90%}
    100% {width: 0%; margin-left: 100%}
  }

  .loading-bar {
    animation-name: test;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    height: 100%;
  }

  .drop-down {
    z-index: 1;
    position: absolute;
    background-color: $black-100;
  }

  .user-list {
    min-height: 50px;
  }

  .dropdown-menu{
    left: -65px;
  }

  .place-holder{
    bottom: 0.25rem;
    left: 0;
    z-index: -1;
  }

  .scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-ver-top 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  

  /* Modal */

modal{
  display: none;

  .modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    display: flex;

    .modal-body {
        background: $black-100;
        color: $white;
        margin: auto;
        padding: 1rem;
        border-radius: .25rem;
    }
  }

  .modal-background {
    position: fixed;
    background-color: $smoke;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
  }
}

body.modal-open {
    overflow: hidden;
}
