<div *ngIf='api.is_login; else not_login' class='pt-20 lg:w-2/3 xl:w-1/2 mx-auto text-white'>
  <div class='h-full bg-grey rounded p-4 shadow-md'>
    <div class='flex mb-6'>
      <div class='text-5xl mx-auto'>Settings - {{setting | titlecase}}</div>
    </div>
    <div class='flex'>
      <div class='w-1/4 pt-2'>
        <div class='flex w-full flex-wrap'>
          <div (click)='go_setting("userdata")' class='w-full px-4 py-2 mr-4 cursor-pointer hover:text-purple hover:bg-grey-100'>
            Userdata
          </div>
          <div (click)='go_setting("token")' class='w-full px-4 py-2 mr-4 cursor-pointer hover:text-purple hover:bg-grey-100'>
            Login Tokens
          </div>
          <div *ngIf='self' (click)='go_setting("posts")' class='w-full px-4 py-2 mr-4 cursor-pointer hover:text-purple hover:bg-grey-100'>
            Posts
          </div>
          <div class='w-full px-4 py-2 mr-4 text-grey'>
            c0re premium :b
          </div>
        </div>
      </div>
      <div class='border-l border-purple w-3/4'>
        <div class='px-6 pt-2 w-full' [ngSwitch]='setting'>
          <div *ngSwitchCase='"userdata"'><ng-container *ngTemplateOutlet="UserData"></ng-container></div>
          <div *ngSwitchCase='"token"'><ng-container *ngTemplateOutlet='token'></ng-container></div>
          <div *ngSwitchCase='"posts"'><ng-container *ngTemplateOutlet='posts'></ng-container></div>
          <div *ngSwitchDefault>Not Found</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Not Login-->
<ng-template #not_login>
  <div class='pt-16 w-full text-center text-xl text-white'>
    You have to login, before you can change settings
  </div>
</ng-template>

<!--User Data-->
<ng-template #UserData>
  <div class='flex flex-wrap'>
    <div *ngIf='error' class='flex w-full'>
      <div class='rounded bg-red text-center p-2 w-full'>
        {{msg}}
      </div>
    </div>
    <div class='w-1/2'>
      <div class='flex w-auto'>
        <img class='h-16 ml-auto mr-10 mt-4' src='{{avatar}}'>
        <img class='h-16 mr-auto mt-4 rounded-full' src='{{avatar}}'>
      </div>
    </div>
    <div class='w-1/2'>
      <input (change)='file_drop($event.target.files)' #file_input class='hidden' type='file' name='file'>
      <div class='align-middle text-center m-auto'>
        <div (click)='file_input.click()' class='dropzone'
        fileDrop
        (filesDropped)="file_drop($event)"
        (filesHovered)="hover_file = $event"
        [ngClass]="{'dropzone-hover': hover_file}">
          <div class='text-white pt-12'>
            <div *ngIf='avatar_error' class='dropzone-error'>
              <div class='text-sm px-4 py-2 bg-red w-full text-white mb-4 rounded text-center'>
                {{ msg }}
              </div>
            </div>
            <div *ngIf='hover_file; else hover'>Drop</div>
            <ng-template #hover>
              <div class='mx-4'>
                Drag and Drop or<br> click on this box
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='flex-wrap flex w-full mt-6'>
    <div class='w-auto mr-12 ml-auto mb-4'>
      <input [(ngModel)]='username' placeholder="Username" type='text' class='bg-transparent no-underline text-white border-b border-purple appearance-none mr-3 py-1 px-2 leading-tight focus:outline-none'>
    </div>
    <div class='w-auto mr-auto mb-4'>
      <input [(ngModel)]='email' placeholder="E-Mail" type='email' class='ml-auto bg-transparent no-underline text-white border-b border-purple appearance-none mr-3 py-1 px-2 leading-tight focus:outline-none'>
    </div>
  </div>
  <div class='flex-wrap flex w-full'>
    <div class='w-auto mr-12 ml-auto mb-4'>
      <input [(ngModel)]='password' placeholder="leave blank if not changing" type='password' class='bg-transparent no-underline text-white border-b border-purple appearance-none mr-3 py-1 px-2 leading-tight focus:outline-none'>
    </div>
    <div class='w-auto mr-auto mb-4'>
      <input [(ngModel)]='rep_password' placeholder="Repeat new Password" type='password' class='ml-auto bg-transparent no-underline text-white border-b border-purple appearance-none mr-3 py-1 px-2 leading-tight focus:outline-none'>
    </div>
  </div>
  <div class='flex'>
    <div class='w-full mb-2'>
      <button (click)='save()' class='float-right inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-4 lg:mt-0'>Save</button>
    </div>
  </div>
</ng-template>

<!--User Token-->
<ng-template #token>
  <div class='flex flex-wrap w-full'>
    <div *ngFor='let token of tokens; let last = last' class='w-full flex-wrap'>
      <div class='flex pb-1'>
        Token: {{token.token}}
      </div>
      <div class='flex pb-1'>
        Note: {{token.note}}
      </div>
      <div class='flex pb-1'>
        Creation: {{calc_time(token.creationTime)}}
      </div>
      <div class='flex pb-1'>
        Last Used: {{calc_time(token.lastUsageTime)}}
      </div>
      <div class='flex w-full'>
        <button (click)='delete_token(token.token)' class='float-right inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-purple hover:bg-white mt-4 lg:mt-0'>Delete</button>
      </div>
      <div *ngIf='!last' class='border-b border-purple mb-2 pt-2'></div>
    </div>
  </div>
</ng-template>

<ng-template #posts>
  <div class='flex flex-wrap w-full'>
    <div class='flex w-full p-2'>
      <div class="w-1/3">
        Video Autoplay
      </div>
      <div class='w-2/3'>
        <label class='ml-4 safty-container'>
          <input (change)='posts_change()' [(ngModel)]='posts_settings.autoplay' class='option hidden' name='option' type="checkbox">
          <span class='border-2 border-purple safty-checkmark checkmark option'></span>
        </label>
      </div>
    </div>
    <div class='flex w-full p-2'>
      <div class="w-1/3">
        Video Loop
      </div>
      <div class='w-2/3'>
        <label class='ml-4 safty-container'>
          <input (change)='posts_change()' [(ngModel)]='posts_settings.loop' class='option hidden' name='option' type="checkbox">
          <span class='border-2 border-purple safty-checkmark checkmark option'></span>
        </label>
      </div>
    </div>
    <div class='flex w-full p-2'>
      <div class="w-1/3">
        Auto height for images
      </div>
      <div class='w-2/3'>
        <label class='ml-4 safty-container'>
          <input (change)='posts_change()' [(ngModel)]='posts_settings.auto_height' class='option hidden' name='option' type="checkbox">
          <span class='border-2 border-purple safty-checkmark checkmark option'></span>
        </label>
      </div>
    </div>
    <div class='flex w-full p-2'>
      <div class="w-1/3">
        red box for no tags
      </div>
      <div class='w-2/3'>
        <label class='ml-4 safty-container'>
          <input (change)='posts_change()' [(ngModel)]='posts_settings.red_box' class='option hidden' name='option' type="checkbox">
          <span class='border-2 border-purple safty-checkmark checkmark option'></span>
        </label>
      </div>
    </div>
  </div>
</ng-template>
